@media screen and  (max-width:700px) {
    #navbar{
        padding: 15px 5%;
        height: 80px;
    }
    #navbar ul{
        display: block;
        position: absolute;
        left: -200px;
        top: 60px;
        background-color: #eee;
    opacity: 0.9;
        padding: 30px;
        height: 400px;
        width: 200px;
        border-radius: 5px;
    transition: left 0.5s linear;
    }   
    .btn{
        margin-top: 20px;
    }
    #navbar ul i{display: block;
    color: #222;
text-align: right;}
    #navbar ul li{
        margin: 20px;
    }
    #navbar ul li a{
        color: #222;

    } 
        
   #navbar .btn{
        display: none;
    }
    #navbar i {
        display: block;
        /* color: #eee; */
        font-size: 20px;
        cursor: pointer;
    }
    .main-heading{
        font-size: 2.5rem;
    }
    .hero{
        padding-top: 23%;
    }
    .step-container{
        flex-wrap: wrap;
    }
    .container{
        padding: 0;

    }
      .box{
        padding: 40px 0;
        margin-inline: 0;
    }
    .exclusive-box {
        width:90%;
        flex-wrap: wrap;
    }
    .exclusive-box .img{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .menu-header{
        font-size: 2.5rem;
    }
    .menu-container{
        flex-wrap: wrap;
    }
    .menu-container .col-4{
        flex-basis: 100%;
    }
    .row{
        flex-wrap: wrap;
    }
    .row .col-4{
        flex-basis: 100%;
    }
    .title{
        font-size: 2.5rem;
    }
    .blog-cards{
        flex-basis: 100%;
    }
    footer{
        padding-inline: 20px;
    }
    .footer-content{
        width: 500px;
    }
    .img-box{
        width: 100%;
    }
    section{
        overflow: hidden;
    }
    .footer-main-container{
        flex-wrap: wrap;
    }
   
    
  }